<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="flex-top">
                <div class="sides">
                    <img src="img/log.PNG" alt="логотип">
                    <div class="contact">
                        <h4>График работы:</h4>
                        <p>ПН - ВС: 6:00 - 24:00</p>
                        <div class="social">
                            <a class="iconsocial" href="https://www.facebook.com/"><img src="img/fb.png"></a>
                            <a class="iconsocial" href="https://www.instagram.com/"><img src="img/instagram.png"></a>
                            <a class="iconsocial" href="https://vk.com//"><img src="img/vk.png"></a>
                        </div>
                    </div>
                </div>
                <div class="sides">
                    <div class="contact">
                        <h4 id="top">Контакты:</h4>
                        <ul>
                            <h5>Востоновление:</h5>
                            <li class="flex-sides tel"><a href="tel:+375295436401">+375 29 543 64 01</a></li>
                            <li class="flex-sides email"><a
                                    href="mailto:kristina.ti.100@gmail.com">kristina.ti.100@gmail.com</a></li>
                        </ul>
                        <ul>
                            <h5>Пилинг:</h5>
                            <li class="flex-sides tel"><a href="tel:+375336689520">+375 33 668 95 20</a></li>
                            <li class="flex-sides email"><a
                                    href="mailto:kristinpaint6346@gmail.com">kristinpaint6346@gmail.com</a></li>
                        </ul>
                        <ul>
                            <h5>Брови: </h5>
                            <li class="flex-sides tel"><a href="tel:+375336173949">+375 33 617 39 49</a></li>
                            <li class="flex-sides email"><a href="honeylrina@gmail.com">honeylrina@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="minigallery">
                    <div class="mgallery">
                        <div class="flex-mgallery"><img src="img/resnici.jpg"></div>
                        <div class="flex-mgallery"><img src="img/piling.jpg"></div>
                        <div class="flex-mgallery"><img src="img/pil.jpg"></div>
                        <div class="flex-mgallery"><img src="img/permanent.jpg"></div>
                        <div class="flex-mgallery"><img src="img/kabinet.jpg"></div>
                        <div class="flex-mgallery"><img src="img/volos.jpg"></div>
                        <div class="flex-mgallery"><img src="img/vosstanovlenie.jpg"></div>
                        <div class="flex-mgallery"><img src="img/piling.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bootom">
        <div class="container">
            <div class="flex-bootom">
                <div class="flex-end">
                    <p>&#169; 2019 "Refresh Me". Все права защищены.</p>
                </div>
                <div class="flex-end">
                    <div class="nav">
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="aboutUs.html">О нас</a></li>
                            <li><a href="catalog.html">Услуги</a></li>
                            <li><a href="galerey.html">Галерея</a></li>
                            <li><a href="#top">Контакты</a></li>
                            <li><a data-toggle-id="mdl" class="mBtn">Бронирование</a></li>
                            <li><a href="">Отзывы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mdl" class="mdl" hidden>
        <div class="mdl-content">
            <div class="mdl-header">
                <span class="cross">&times;</span>
                <h2>Запись на услугу</h2>
            </div>
            <div class="mdl-body">
                <form id="second_form" class="form-msg">
                    <p class="input">
                        <input id="vidUs" name="service" type="text" placeholder="Услуга *"> </p>
                    <p class="input">
                        <input id="lname" name="fio" type="text" placeholder="Ваше имя *">
                    </p>
                    <p class="input">
                        <input id="tel" name="tel" type="text" placeholder="Ваш  телефон *"></p>
                    <p class="input">
                        <input required type="checkbox" name="agreement"> <span>Согласен на
                            обработку персональных данных *</span> </p>
                    <p class="input">
                        <button id="submit" type="submit">Отправить</button>
                        </p>
                </form>
            </div>
            <div class="mdl-footer">
            </div>
        </div>
    </div>
</footer>