<header class="header">
    <div class="header_top">
        <div class="container">
            <div class="header_top-flex">
                <div class="header_top_item">
                    <a class="contact email" href="mailto:kristina.ti.100@gmail.com">kristina.ti.100@gmail.com</a>
                    <a class="contact tel" href="tel:+375295436401">+375 29 543 64 01</a>
                </div>
                <div class="header_top_item">
                    <div class="social">
                        <a class="iconsocial" href="https://www.facebook.com/"><img src="img/fb.png"></a>
                        <a class="iconsocial" href="https://www.instagram.com/"><img src="img/instagram.png"></a>
                        <a class="iconsocial" href="https://vk.com//"><img src="img/vk.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="header_bottom-flex">
                <div class="logo">
                    <a href="index.html"><img src="img/log.PNG" alt="Логотип"></a>
                </div>
                <div class="menuBurger"><img src="img/hamburger.png"></div>
                <div class="nav">
                    <ul class="menu topmenu">
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="aboutus.html">О нас</a></li>
                        <li><a href="catalog.html">Услуги &#9660;<i class="fa fa-angle-down"></i></a>
                            <ul class="submenu">
                                <li><a href="catalog.html#hair">Волосы</a></li>
                                <li><a href="catalog.html#eyebrows">Брови</a></li>
                                <li><a href="catalog.html#piling">Пилинг</a></li>
                            </ul>
                        </li>
                        <li><a href="galerey.html">Галерея</a></li>
                        <li><a href="#top">Контакты</a></li>
                        <li><a data-toggle-id="mdl" class="mBtn">Бронирование</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>