$mainColor: #545454;
$bacckgoundcolor: #a292b3;
$bordercolor: #e6e9ed;
$colortext: #545454;
$colortextbacck: #fff;
$hcolor: #545454;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway-Medium.ttf");
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

//----------Header-------------
.header_top {
  background: #a292b3;
  border-bottom: 1px solid $bordercolor;
  padding: 4px 25px 4px 15px;
  font-size: 14px;

  .header_top-flex {
    display: flex;
    justify-content: space-between;

    .header_top_item {
      .contact {
        color: $colortextbacck;
        padding-left: 30px;
      }

      .email {
        background-image: url("../img/mail.png");
        background-repeat: no-repeat;
        background-position: 6% 50%;
      }

      .tel {
        background-image: url("../img/mobile.png");
        background-repeat: no-repeat;
        background-position: 9% 50%;
      }

      .social {
        .iconsocial {
          padding: 0px 9px;
        }
      }
    }
  }
}

.tel:hover {
  background: #a652ac;
  cursor: pointer;
}

.email:hover {
  background: #84d4ff;
  cursor: pointer;
}

.header_bottom {
  border-bottom: 1px solid $bordercolor;

  a {
    color: $mainColor;
  }

  a:hover {
    color: #a652ac;
    text-decoration: none;
  }

  .header_bottom-flex {
    display: flex;
    justify-content: space-between;

    .logo {
      padding: 5px 15px 5px 0;

      img {
        height: 105px;
      }
    }

    .nav {
      margin-right: 5px;
      padding-top: 20px;

      ul {
        li {
          font-size: 18px;
          font-weight: 850;
          color: $mainColor;
          padding: 25px 14px 0 3px;
          display: inline-block;
        }
      }
    }
  }
}

a:hover {
  color: #a652ac !important;
  text-decoration: none !important;
}

a {
  text-decoration: none;
}

//----Hamburger
.menuBurger {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
    text-align: center;
    position: relative;
    right: 70px;
    z-index: 100;
  }

  .menu li {
    display: block !important;
    display: block !important;
    padding: 0 0 2px 0 !important;
  }

  .menuBurger:hover {
    cursor: pointer;
  }

  .menuBurger {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 40px;
  }
}

//---------------end hamburger

//----Section------

.section_hover {
  background: #e5e5e5;

  .carousel-inner {
    .carousel-caption {
      p {
        font-size: 27px;
      }

      h3 {
        font-size: 57px;
        color: $bacckgoundcolor;
        font-weight: 700;
        font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      .piling {
        position: absolute !important;
        bottom: 273px;
        left: 212px;
        width: 699px;
      }

      .vosst {
        position: absolute !important;
        bottom: 230px;
        left: 210px;
        width: 690px;
      }

      .brovi {
        position: absolute !important;
        bottom: 103px;
        right: 423px;
      }
    }
  }
}

.description {
  text-align: center;
  margin: 30px 16%;

  h2 {
    color: $mainColor;
    padding: 10px 0 0 0;
    font-size: 30px;

  }

  p {
    font-size: 24px;
    line-height: 27px;
    margin: 0 0 16px;

    span {
      font-size: 16px;
      color: #7a7992;
      font-weight: 300;
    }
  }

  h3 {
    font-size: 24px;
    color: #7a7992 !important;
    font-weight: 400;
    font-family: "Arizonia", cursive;
  }
}

.section_description {
  .owl-carousel {
    text-align: center;

    .owl-prev,
    .owl-next {
      color: $colortextbacck !important;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      background: $bacckgoundcolor !important;
      opacity: 0.6;
    }

    .owl-prev {
      top: 100px;
      left: 0px;
    }

    .owl-next {
      top: 100px;
      right: 0px;
    }

    .owl-next:hover {
      background-image: linear-gradient(to right, #aaaaff 0%, #fcbaf8 51%, #aaaaff 100%) !important;
      opacity: 1;
    }

    .owl-prev:hover {
      background-image: linear-gradient(to right, #aaaaff 0%, #fcbaf8 51%, #aaaaff 100%) !important;
      opacity: 1;
    }

    img {
      width: 380px;
      height: 260px;
      border-radius: 100%;
      border: 10px solid rgba(225, 225, 225, 0.7);
    }

    p {
      font-size: 24px;
      line-height: 27px;
      color: #fac0f9;
      display: block;
      font-weight: 400;
      padding: 10px 0 0;
      font-style: normal;
      font-family: "Arizonia", cursive;
    }

    .btn_button {
      position: absolute;
      top: 30%;
      left: 50px;
      display: none;
      opacity: 0.6;
    }
  }

  h4 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #2d2c40;
    font-weight: 400;
  }
}

.btn_button {
  color: $colortextbacck;
  padding: 0 40px;
  border-radius: 30px;
  text-transform: uppercase;
  background: #a292b3;
  font: 500 14px/45px Poppins, Arial, Helvetica, sans-serif;
}

.hid {
  display: none;
}

.btn_button:hover {
  background-image: linear-gradient(to right, #aaaaff 0%, #fcbaf8 51%, #aaaaff 100%);
  opacity: 1 !important;
}

button:focus {
  outline: none !important;
}

hr.type {
  border: 0;
  height: 55px;
  background-image: url("../img/type.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.pros {
  background: #f2f5f7;
  padding-bottom: 60px;

  .scroll {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    .flex-scroll {
      width: 500px;

      h3 {
        font-size: 20px;
        line-height: 200%;
        font-weight: normal;
      }

      img {
        border-radius: 10px;
        box-shadow: 0px 21px 50px rgba(0, 0, 0, 0.1);
        width: 500px;
      }

      li {
        background-image: url("../img/gal.png");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        padding-left: 30px;
        list-style-type: none;
      }

      .btn_button {
        display: inline !important;
      }
    }
  }
}

//-----Footer--------------
.footer_top {
  background: #e7e7e7;
  color: $colortext;
  padding: 15px 0;
  font-size: 14px;

  h4 {
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 12px;
    color: $hcolor;
  }

  p {
    margin-bottom: 20px;
    line-height: 155%;
    padding-right: 55px;
  }

  li {
    list-style-type: none;
    padding-left: 26px;
    line-height: 200%;
  }

  .flex-top {
    display: flex;
    justify-content: space-between;

    .sides {
      width: 270px;

      .contact {
        padding-left: 15px;
      }

      h5 {
        font-size: 18px;
        line-height: 180%;
      }

      img[src="img/log.PNG"] {
        padding-bottom: 15px;
      }

      .tel,
      .email {
        background-repeat: no-repeat;
        background-position: 0px 60%;
      }

      .tel {
        background-image: url("../img/mobile.gif");
      }

      .email {
        background-image: url("../img/mail.gif");
      }
    }

    .minigallery {
      width: 570px;

      .mgallery {
        display: flex;
        flex-wrap: wrap;

        img {
          width: 126px;
          height: 105px;
        }

        .flex-mgallery {
          padding-right: 5px;
        }
      }
    }
  }
}

.footer_bootom {
  background: $bacckgoundcolor;
  color: $colortextbacck;
  font-size: 12px;

  .flex-bootom {
    display: flex;
    justify-content: space-between;

    .flex-end {
      padding: 20px 0;
    }
  }

  .nav {
    a {
      color: $colortextbacck;
    }

    ul {
      display: flex;

      li {
        font-weight: 700;
        margin: 0 7px 0 13px;
      }
    }
  }
}

// Modal word

.mBtn {
  cursor: pointer;
}

.mdl {
  font-family: Arizonia, cursive;
  text-align: center;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .mdl-content {
    position: relative;
    background-color: #e1bee7;
    margin: auto;
    padding: 0;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    .mdl-header {
      padding: 2px 16px;
      background-color: $bacckgoundcolor;
      color: white;

      h2 {
        margin: 0;
      }

      .cross {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .cross:hover,
      .cross:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }

    @-webkit-keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }

      to {
        top: 0;
        opacity: 1;
      }
    }

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }

      to {
        top: 0;
        opacity: 1;
      }
    }
  }

  .mdl-body {
    .input {
      padding: 5px 0;

      span {
        margin-bottom: 5px;
      }

      input[type="text"] {
        height: 30px;
        font-size: 18px;
        width: 95%;
      }

      input[type="submit"] {
        font-size: 18px;
      }
    }
  }

  .mdl-footer {
    padding: 2px 16px;
    background-color: $bacckgoundcolor;
    color: white;
  }
}

// end modal ---------------

.footer li:nth-child(1) {
  list-style-type: none;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}

.goUp {
  padding: 15px;
  position: fixed;
  bottom: 72px;
  right: 50px;
  cursor: pointer;
  border-radius: 4px;
  background-image: url(../img/arrow-up-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.none {
  display: none;
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .header .header_top {
    font-size: 12px;
  }

  .header_bottom {
    .header_bottom-flex {
      .logo {
        padding: 2px;

        img {
          height: 75px;
        }
      }

      .nav {
        margin-right: 0;
        padding-top: 0;

        ul {
          li {
            font-size: 15px;
            font-weight: 750;
          }
        }
      }
    }
  }

  .section_hover {
    .carousel-inner {
      .carousel-caption {
        p {
          font-size: 20px;
        }

        h3 {
          font-size: 40px;
        }

        .piling {
          bottom: 30px;
          width: 388px;
          left: 212px;
        }

        .vosst {
          bottom: 115px;
          left: 36px;
          width: 587px;
        }

        .brovi {
          bottom: 52px;
          right: 248px;
        }
      }
    }
  }

  .section .description {
    margin: 25px 1%;
  }

  .owl-carousel {
    .owl-next {
      left: 679px;
    }

    .owl-item {
      padding-left: 40px;

      .owl-items {
        padding-left: 10px;

        h4,
        p {
          padding-right: 70px;
        }

        img {
          width: 264px !important;
        }
      }
    }
  }

  .pros {
    padding-bottom: 20px;

    .scroll {
      .flex-scroll {
        h3 {
          margin-top: 0;
          line-height: 1;

        }

        img {
          width: 350px;
        }
      }
    }
  }

  .footer_bootom {
    .flex-bootom {
      .flex-end {
        padding: 5px 0 0 0;
      }
    }

    .nav {
      ul {
        margin-bottom: 0;

        li {
          font-weight: 700;
          margin: 0 7px 0 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .header .header_top {
    font-size: 10px;
  }

  .section_hover {
    .carousel-inner {
      .carousel-caption {

        p {
          font-size: 14px;
        }

        h3 {
          font-size: 28px;
        }

        .piling {
          bottom: 62px;
          width: 352px;
          left: 23px;
        }

        .vosst {
          bottom: 44px;
          left: 35px;
          width: 333px;
        }

        .brovi {
          bottom: 10px;
          right: 149px;
        }
      }
    }
  }

  .section {
    .description {
      h2 {
        font-size: 18px;
        line-height: 0;
      }

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
        line-height: 115%;
      }
    }
  }

  .owl-carousel {
    .owl-next {
      left: 373px;
    }

    .owl-item {
      padding-left: 70px;

      .owl-items {
        padding-left: 10px;

        h4,
        p {
          padding-right: 90px;
        }
      }
    }
  }

  .pros {
    padding-bottom: 20px;

    .scroll {
      display: flex;
      flex-wrap: wrap;

      .flex-scroll {
        margin-top: 10px;
      }
    }
  }

  .minigallery {
    display: none;
  }

  .flex-end {
    .nav {
      display: none;
    }
  }

  .goUp {
    right: 20px;
  }
  .mdl-content {
    
    width: 85% !important;}
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 5px;
  }

  .header_top_item span {
    display: block;
  }

  .section_hover {
    .carousel-inner {
      .carousel-caption {

        p {
          font-size: 10px;
        }

        h3 {
          font-size: 18px;
        }

        .piling {
          bottom: 20px;
          width: 372px;
          left: -59px;
        }

        .vosst {
          bottom: 10px;
          left: 0;
          width: 247px;
        }

        .brovi {
          bottom: -22px;
          right: 93px;
        }
      }
    }
  }

  .owl-carousel {
    .owl-next {
      left: 242px;
    }

    .owl-prev {
      left: -14px !important;
    }

    .owl-item {
      padding-left: 0px;

      .owl-items {

        h4,
        p {
          padding-right: 0px;
        }
      }
    }
  }

  .pros .scroll .flex-scroll img {
    width: 290px;
  }

  .footer_top {
    .flex-top {
      display: flex;
      flex-wrap: wrap;

      .sides {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .header .header_top {
    font-size: 7px;}
  .menuBurger {    
    top: 60px;
  }
  .section_hover .carousel-inner .carousel-caption p {
    font-size: 9px;
  }

  .section_hover .carousel-inner .carousel-caption h3 {
    font-size: 16px;
  }
  .owl-carousel .owl-next {
      left: 230px;
    }
}
