.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}
.fon{
    background-image: url(../img/image.gif);
    .cont{   
        h1{
            margin: 0;
            padding: 20px 0 10px 0;
        } 
        ul{
            margin: 0;
            padding-bottom:10px ;
        }
      a {  
        color: $mainColor;
      }
        text-align: center;
        ul{list-style: none;
         li{
          display: inline-block;
         }
        }
    }
  }