.galerey {
    display: flex;
    justify-content: space-between;

    .galerey-item {

        display: flex;
        flex-wrap: wrap;

        .galerey-items {
            width: 30%;
            padding: 0.2%;
            img {
                padding-top:10px ;
                width: 325%;                
            }
        }
    }
}

//-окно
.okn {
    position: fixed;
    border-radius: 5px;
    box-shadow: 0 0 8px #d4d3d4;
    text-align: center;   
    z-index: 999999;
    width: 320px;
    right: 4%;
    top: 3%;
}

.sent {
    padding: 10px;
    font-size: 24px;
    color: #7a7992 !important;
    font-weight: 400;
    font-family: "Arizonia", cursive;
}

.err {
    background-color: #ffc1ca;
    color: #cd173a;
}

.ale {
    background-color: #e1e1e1;
    color: #667cfc;
}

.msg {
    background-color: #f1fbc1;

}

.galerey .galerey-item .galerey-items img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
@media screen and (max-width: 420px) {
    .okn {
        left: 0;      
    }
    .sent {
        font-size: 16px;       
    }
}